@tailwind base;
@tailwind components;
@tailwind utilities;


@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@font-face {
    font-family: 'desirel';
    src: url('../../public/assets/fonts/DESYREL_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* Estilo para el scrollbar */
::-webkit-scrollbar {
    /* Ancho del scrollbar vertical */
    width: 2%;
    height: 2%;
    /* Altura del scrollbar horizontal */
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .desyrel {
    font-family: "desirel", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }